params {
    help = false
    h = false
    calibration = false
    predictions_per_model = 2
    batch_size = 5
    wall_time = 20
    force_msas_computation = false
    only_msas = false
    tool = "ColabFold"
    model_preset = "multimer"
    pair_strategy = "greedy"
    use_dropout = "false"
    stop_at_score= "100"
    num_recycle = 5
    disable_cluster_profile = "false"
    recycle_early_stop_tolerance = 0.5
    model_to_use=""
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = false
    }

    docker {
        docker.enabled = true
        singularity.enabled = false // Ensure Singularity is not active in Docker profile
        
        process{
        withLabel:colabfold {
            container =  'jysgro/colabfold:latest'
        }
        }
    }
    
    singularity {
        docker.enabled = false // Disable Docker in the Singularity profile
        singularity.enabled = true
        singularity.autoMounts = true // Automatically mount paths
        process{
        withLabel:colabfold {
            container =  'jysgro/colabfold:latest'
        }
        }
    }

    conda {
        docker.enabled = false // Disable Docker in the Conda profile
        singularity.enabled = false // Disable Singularity in the Conda profile

        process{
            withLabel:colabfold {
                conda = 'mf_colabfold.yml'
            }
        }

        
    }
    
}