params {
    help = false
    h = false
    calibration = false
    predictions_per_model = 2
    batch_size = 5
    wall_time = 20
    force_msas_computation = false
    only_msas = false
    tool = "ColabFold"
    model_preset = "multimer"
    pair_strategy = "greedy"
    use_dropout = "false"
    stop_at_score= "100"
    num_recycle = 5
    disable_cluster_profile = "false"
    recycle_early_stop_tolerance = 0.5
    model_to_use=""
    bash_script="/home/ubuntu/MassiveFold_NF/create_batches_csv.py"
}

profiles {
        // Local profile (default for testing on a personal system)
    local {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = false
    }

    docker {
        docker.enabled = true 
    }
    
    singularity {
        singularity.enabled = true 
        singularity.autoMounts = true 
    }
}