params {
    help = false
    h = false
    tool = "colabfold"
    output_dir= "OUT" 
    msas_precomputed = false
    predictions_per_model = 1
    batch_size = 2

    // Paramètres Massivefold
    massivefold {
        uniref_database = ""
        models_to_use = ""
        pkl_format = "full"
    }
    
    // Paramètres d'exécution AlphaFold-Multimer
    afmassive {
        model_preset = "multimer"
        max_recycles = 20
        templates = true
        dropout = false
        dropout_structure_module = false
        dropout_rates_filename = ""
        stop_recycling_below = 0
        max_template_date = "2024-08-31"
        min_score = 0
        max_score = 1
        db_preset = "full_dbs"
        early_stop_tolerance = 0.5
        bfd_max_hits = 100000
        mgnify_max_hits = 501
        uniprot_max_hits = 50000
        uniref_max_hits = 10000

        //CHEMIN PARAMS (*.npz)
        params_weight = "/home/ubuntu/data/wp4_core"
    }

    colabfold {
        model_preset = "multimer"
        pair_strategy = "greedy"
        use_dropout = "false"
        num_recycle = 20
        recycle_early_stop_tolerance = 0.5
        stop_at_score = 100
        disable_cluster_profile = "false"
    } 
    
    // Paramètres de visualisation
    plots {
        MF_plots_top_n_predictions = 10
        MF_plots_chosen_plots = "coverage,DM_plddt_PAE,CF_PAEs,score_distribution,recycles"
    }
}

profiles {

    local {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
    }

    // 🐳 DOCKER SANS GPU
    docker_nogpu {
        docker.enabled = true
        docker.autoMounts = true
        singularity.enabled = false
        apptainer.enabled = false
        
        process {

            withLabel: colabfold {
                container = 'jysgro/colabfold:latest'
                docker.runOptions = "-v ${params.database_dir}:${params.database_dir}:rw -v /home/ubuntu/data/wp4_core:/home/ubuntu/data/wp4_core:rw"
            }

            withLabel: afmassive {
                container = 'romudock/afmassive:latest'
                docker.runOptions = "-v ${params.database_dir}:${params.database_dir}:rw -v /home/ubuntu/data/wp4_core:/home/ubuntu/data/wp4_core:rw"
            }

            withLabel: python_treatment {
                container = 'romudock/python_basic_packages:latest'
            }
        }
    }

    // 🐳 DOCKER AVEC GPU
    docker {
        docker.enabled = true
        docker.autoMounts = true
        singularity.enabled = false
        apptainer.enabled = false
        
        process {

            withLabel: colabfold {
                container = 'jysgro/colabfold:latest'
                docker.runOptions = "-v ${params.database_dir}:${params.database_dir}:rw -v /home/ubuntu/data/wp4_core:/home/ubuntu/data/wp4_core:rw --gpus all"
            }

            withLabel: afmassive {
                container = 'romudock/afmassive:latest'
                docker.runOptions = "-v ${params.database_dir}:${params.database_dir}:rw -v /home/ubuntu/data/wp4_core:/home/ubuntu/data/wp4_core:rw --gpus all"
            }

            withLabel: python_treatment {
                container = 'romudock/python_basic_packages:latest'
            }

        }
    }

    // 🧊 APPTAINER / SINGULARITY
    apptainer {
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = true
        apptainer.autoMounts = true

        process {

            withLabel: colabfold {
                container = 'jysgro/colabfold:latest'
                apptainer.runOptions = """
                    --bind ${params.database_dir}:${params.database_dir}:rw \
                    --bind /home/ubuntu/data/wp4_core:/home/ubuntu/data/wp4_core:rw \
                    --nv
                """
            }

            withLabel: python_treatment {
                container = 'romudock/python_basic_packages:latest'
            }

            withLabel: afmassive {
                container = 'romudock/afmassive:latest'
                apptainer.runOptions = """
                    --bind ${params.database_dir}:${params.database_dir}:rw \
                    --bind /home/ubuntu/data/wp4_core:/home/ubuntu/data/wp4_core:rw \
                    --nv
                """
            }
        }
    }

    // 🐍 CONDA
    conda {
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        conda.enabled = true
        process.conda = 'mf_colabfold.yml'
    }

    // ☁️ PROFIL DISTANT (K8S + FUSE)
    distant {
        workDir = 's3://test-nf/work'
        
        docker.enabled = true
        wave.enabled = true
        fusion.enabled = true
        fusion.exportStorageCredentials = true
        
        aws {
            client {
                endpoint = 'https://biosphere-s3.france-bioinformatique.fr'
                s3PathStyleAccess = true
                signerOverride = 'S3SignerType'
                protocol = 'https'
            }
        }

        k8s {
            namespace = 'default'
            serviceAccount = 'default'
            computeResourceType = 'Job'
        }

        process {

            withLabel: colabfold {
                container = 'romudock/colabfold-fuse:latest'
                executor = 'k8s'
                scratch = false
            }

            withLabel: python_treatment {
                container = 'romudock/python_basic_packages:latest'
                executor = 'k8s'
                scratch = false
            }

            withLabel: afmassive {
                container = 'romudock/afmassive-fuse:latest'
                executor = 'k8s'
                scratch = false
            }
        }
    }
}

// Configuration AWS pour S3
aws {
    client {
        endpoint = 'https://biosphere-s3.france-bioinformatique.fr'
        s3PathStyleAccess = true
        signerOverride = 'S3SignerType'
        protocol = 'https'
    }
}
